services:
  web:
    container_name: prompt-project-web
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env

  nginx:
    container_name: prompt-project-nginx
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - web
